* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

body {
    padding-bottom: 60px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background: #333333;
    height: 60px;
}
 .textLogo {
     display: flex;
     align-items: center;
     gap: 8px;
 }

 .textLogo h3 {
     color: #fff;
     font-size: 24px;
     margin: 0;
 }

 .searchBar {
     position: relative;
     display: flex;
     align-items: center;
     gap: 10px;
 }

 #inputSearch {
     width: 300px;
     padding: 8px 30px 8px 10px;
     height: 38px;
     border-radius: 5px;
     border: 1px solid #ccc;
 }

 #iconSearch {
     position: absolute;
     right: 10px;
     top: 50%;
     transform: translateY(-50%);
     color: #bababa;
     font-size: 16px;
 }

 .navMenu ul {
     display: flex;
     gap: 20px;
     list-style: none;
     margin: 0;
 }

 .navMenu a {
     text-decoration: none;
     font-size: 16px;
     font-weight: 500;
     color: #fff;
 }

 .navMenu a:hover {
     color: #ddd;
 }
.container{
    display: flex;
}
.sidebar {
    width: 20%;
    background: white;
    padding: 15px;
    border-radius: 5px;
}

.pagination {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 5px;
}

.pagination button {
    padding: 5px;
    border: 1px solid #ccc;
    background: white;
    cursor: pointer;
}

.pagination button.active {
    background: blue;
    color: white;
}

.quiz-container {
    flex: 1;
    padding: 20px;
    background: white;
    border-radius: 5px;
}

.buttons {
    margin-top: 20px;
}

button {
    padding: 10px 15px;
    margin-right: 10px;
    border: none;
    cursor: pointer;
}

.primary {
    background: blue;
    color: white;
}

.success {
    background: green;
    color: white;
}

footer {
    text-align: center;
    padding: 10px;
    background: #222;
    color: white;
    margin-top: 20px;
}
.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}